@theme {
    --text-sm: 0.825rem; /* Baixado o tama単o sm con respecto a Tailwind */
    --text-base: 1.125rem; /* subido o tama単o base con respecto a Tailwind */
    --text-5xl: 2.625rem; /* h1 */
    --text-4xl: 2rem; /* h2 */
    --text-3xl: 1.625rem; /* h3 */
    --text-2xl: 1.125rem; /* h4 */
    --text-xl: 1.125rem; /* baixado para manter a coherencia de tama単o descendente, con este tama単o queda igual ca o text-lg */
}
